*{
    margin: 0%;
    padding: 0%;
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* nav-bar css */
.logo-img{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: white;
    
}
.logo-img a{
    padding: 12px 10px;
}
.nav-bar{
    width: 100%;
    height: 50px;
    background-color: rgb(43, 9, 196);
    display: flex;
}
.extra-space{
    width: 45%;
}
.Nav-list{
    flex-direction: row;
    display: flex;
    left: 200px;
    list-style: none;
}
.nav-li{
    padding: 12px 10px;

}
.nav-li a{
    padding: 0px 0px;
    text-decoration: none;
    color: white;
    transition: 0.3s all;
    font-family: 'Poppins', sans-serif;

}
.nav-li a:hover {
    color: orangered;
  }
  .nav-li a::after {
    content: ' ';
    display: block;
    width: 0%;
    height: 2px;
    background-color: orangered;
    transition:width .3;
  }
  .nav-li a:hover::after{
    width: 100%;
    transition: width 0.3s;
  }
                                                       /* main-content */
.main-content{
    height: 600px;
    width: 100%;
    background-image: url(img/backgroud.jpg);
    justify-content: center;
    background-size: cover;
    
} 
.text-content{
    padding-top: 246px;
    padding-left: 206px;
}
.text-content h4{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: white;
} 
.text-content h1{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.btn-1{
    width: 113px;
    background-color: orangered;
    height: 37px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
.btn-1 a{
    color: white;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}
.btn-1:hover{
    background-color: white;
}
.btn-1 a:hover{
    background-color: white;
    color: orangered;
}
.btn-1 a:hover::after{
    color: orangered;
    background-color: white;
    transition: 0.2 all;
}          
                            /* Flex-containor */
.flex-container {
   display: flex;
   margin-top: -60px;
   justify-content: center;
 }
 
.containor {
   background-color: #8d1616;
   width: 220px;
   height: 220px;
   margin: 0px 30px;
   font-size: 30px;
   border-radius: 5px;
   flex-direction: column;
 }
 /* containor - 1 */
 .con-1{
    background-color: white;
 }
 .con-1 img{
    height: 60px;
    width: auto;
    margin-left: 74px;
    margin-top: 35px;
 }
 .con-headline{
    align-items: center;
    font-size: 18px;
    text-align: center;
    color: black;
    font-family: 'Poppins', sans-serif;
 }
 .con-parag{
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
 }
 .read-more{
    margin-left: 65px;
    font-size: 20px;
    text-decoration: none;
    color: orangered;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;

 }
 /* containor - 2 */
 .con-2{
    background-color: orangered;
 }
 .con-2 img{
    height: 60px;
    width: auto;
    margin-left: 74px;
    margin-top: 35px;
 }
 .white{
    color: white;
 }
 /* containor - 3 */
 .con-3{
    background-color: white;
 }
 .con-3 img{
    height: 60px;
    width: auto;
    margin-left: 74px;
    margin-top: 35px;
 }
                                   /* consulting-solutions */
  
.consulting-solutions{
    width: 100%;
    height: 400px;
    display: flex;
}
.cons-img{
    width: 454px;
    height: auto;
    padding: 40px 20px;
    margin-left: 100px;
}
.cons-parag{
    width: 403px;
    margin-left: 50px;
}
.cons-parag h1{
    margin-top: 34px;
    font-family: 'Poppins', sans-serif;
    color: rgb(43, 9, 196);
}
.cons-parag p{
    color: purple;
    font-size: 16px;
}
.cons-btn{
    background-color: orangered;
    border-radius: 2px;
    border: none;
    width: 100px;
    height: 40px;
    margin-top: 20px;
}
.cons-btn a{
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    cursor: pointer;
}
.cons-btn:hover{
    background-color: white;
    color: orangered;
}
.cons-btn a:hover{
    background-color: white;
    color: orangered;
}
.cons-btn a:hover::after{
    transition: 0.2s all;    
}

                                            /* Speak number div */
.speak{
    background-color: rgb(43, 9, 196);
    width: 100%;
    height: 350px;
}